<h1>Enter the twitter handle of the person you want to make bot tweets for!</h1>

<form action='/robots' method='post'>
  <input type='text' name='robot[handle]' />
  <input type='submit' value='create robot' />
</form>
