<img src= '<%= @robot.image_url %>'>

<h1> <%= @robot.handle %></h1>
<% if current_user %>
<form class='create-tweet-form' action ='/robots/<%=@robot.id %>/tweets' method='post'>
  <input type='submit' value= "generate a tweet!" />
</form>
<% end %>
<div class='robot-tweets-list'>

<% @tweets.each do |tweet| %>
  <% break if @tweets.index(tweet) > 5 %>

  <%= erb :"/tweets/_show", {layout: false, locals: {:tweet => tweet}} %>

<% end %>

</div>
<a href='/robots/new'>make a new robot</a>
