<div>
  <a href="/robots/new">make a robot</a>
</div>
<div>
  <a href="/users">Users</a>
</div>

<%= Cowsay.say("hello", "Cow") %>
<% for i in 0..(ENV['TIMES'] ? ENV['TIMES'].to_i : 2) do %>
  <p>Hello World #<%= i %>!</p>
<% end %>
